#root{
    margin: 0rem 1rem 0rem 1rem;
}
.products-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 1%;
}
.product{
    width: 80% ;
}
.product-descreption{
    display: grid;
}
.product img {
    width: 70% ;
}
.rating{
    display: inline;
}
.rating .nb-rating{
    vertical-align: text-top;
    margin: 2%;
    font-size: 0.8rem;
    font-weight: bold;
    color: #615f5f;
}
.NavBar{
    background-color: #fff;
    color: #474647 ;
    -webkit-box-shadow: 5px 5px 18px -6px #000000; 
    box-shadow: 5px 5px 18px -6px #000000;
}
.Nav_link{
    text-decoration: none;
    color: #474647 ;
}
.Nav_link Button{
    color: #474647 !important ;
} 
.Grid img{
    max-width: 100%;
}
.Grid{
    margin-top: 10% !important;
}
.Grid .Card li{
    justify-content: center;
}
.Grid .Card{
        width: 100%;
        float: right;
}
.main-admin-container{
    margin-left: 7rem;
}
a{
    text-decoration: none;
    color: inherit;
}

  
  body {
    min-height: 100vh;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  
.Card{
    -webkit-box-shadow: 20px -15px 23px -10px rgba(0,0,0,0.37) !important; 
    box-shadow: 20px -22px 15px -10px rgba(0,0,0,0.37) !important;
}











* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .carousel {
    padding: 10px 10px 0;
    border-radius: 4px;
    width: 375px;
    margin: auto;
  }
  .carousel__main {
    border-radius: 4px;
    height: 110px;
  }
  
  .demo-item {
    height: 110px;
  }
  